/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000000;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.signup {
  padding: 50px;
  text-align: center;
}

.signup-content {
  max-width: 400px;
  margin: 0 auto;
  background-color: #808080;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(132, 132, 132, 0.1);
}

.signup-content h2 {
  margin-bottom: 20px;
}

.signup-content form label {
  display: block;
  margin-bottom: 10px;
}

.signup-content form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-content form button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}
